<div class="header">
  <h1> <i class="fa fa-laptop"></i>
    <%= "#{@pin.title}" %>
  </h1>
</div>

<div class="show-pin">
	<div class="col-md-6"> <p><%= "#{@pin.text}" %></p></div>
	<div class="col-md-6">  <p class="med"><%= image_tag @pin.image(:medium) %></p></div>
	<div>
	<%= render partial: "shared/repin_form", locals: {pin: @pin} %>
      		
      	</div>
      	
    <p>
    	Re-pinned by:
    	<ul>
    		<% @users.each do |user| %>
		<li><%= link_to "#{user.first_name}", user_path(user) %></li>
	<% end %>
    	</ul>
    </p>
	<hr/>

<div class="col-md-12">
	<b>Visit: </b>
	<%= link_to "#{@pin.title}", @pin.url, html_options = {target: "_blank", class: "url"} %>
</div>

<% if correct_user %>
<p class="col-md-9"><%= link_to "Edit", edit_pin_by_name_path(@pin.slug) %></p> 
<p class="col-md-3"><a href="/"><i class="fa fa-arrow-left"></i>Back to Home</a></p>
<% else %>
<p class="col-md-3 wrong_user"><a href="/"><i class="fa fa-arrow-left"></i>Back to Home</a></p>
<% end %>
</div>