<p id="notice"><%= notice %></p>


  <h1><%= @user.first_name %> <%= @user.last_name %></h1>



<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
	<strong>Number of Pins: </strong>
<%= @user.pins.count %>
</p>
  <div class="pins">

  <div class="pins">
	<% @user.pins.each_slice(3) do |row| %>
		<div class="row">      
		<% row.each do |pin| %>      
			<div class="pin-container col-md-4">
				<div class="pin">
					<div class="pin-header row">
						<div class="logo-thumbnail col-xs-3">				
						<% if "#{pin.category.name}" == "rails" %>
							<%= image_tag('rails-logo-thumbnail.png') %>
						<% elsif "#{pin.category.name}" == "ruby" %>
							<%= image_tag('ruby-logo-thumbnail.png')  %>
						<% end %>   
						</div>
							<div class="col-xs-9">
								<h4><%= link_to "#{pin.title}", pin_by_name_path(slug: pin.slug) %></h4>
								<%= link_to "#{pin.url.truncate(30)}", "#{pin.url}", html_options = { target: "_blank", class: "url" } %>
							</div>
<hr/>
						<p class="text"><%= "#{pin.text}" %></p>
						<%= image_tag pin.image(:thumb) %>
						<%= render partial: "shared/repin_form", locals: {pin: pin} %>
				</div>
			</div>
		</div>
		<% end %>
		 </div>
	<% end %>
</div>
<%= link_to 'Edit User', edit_user_path(@user) %> |
<%= link_to 'Pin Index', pins_path %>
