<p id="notice"><%= notice %></p>


  <h1><%= @user.first_name %> <%= @user.last_name %></h1>



<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
	<strong>Number of Pins: </strong>
<%= @user.pins.count %>
</p>
<%= render partial: "shared/pins_list" %>

<%= link_to 'Edit User', edit_user_path(@user) %> |
<%= link_to 'Pin Index', pins_path %>
