
<%= form_for @follower, html: {class: "well"} do |f| %>
  <%= f.hidden_field :user_id, value: user_to_follow.id %>
  <%= f.hidden_field :follower_id, value: current_user.id %>
  <div class="actions">
    <%= f.button :submit, class: "btn btn-default pinterest-theme-button" do %>
      <i class="fa fa-users"></i>
    <% end %>
    </div>
	<div class="follow_name">
        <strong><%= user_to_follow.full_name.titleize %></strong>
        <% @user_boards = User.find_by(id: user_to_follow.id).boards %>

         <% @user_boards.each do |b| %>
		<br />	<i class="fa fa-star" aria-hidden="true"></i> <%= link_to b.name, board_path(b.id) %>
         <% end %>

  

  </div>
<% end %>


