<p id="notice"><%= notice %></p>

<h1><%= current_user.full_name %> Follows</h1>

<table width="100%">
  <thead>
    <tr>
      <th>User</th>

      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @followers.each do |follower| %>
      <tr>
        <td><%= link_to follower.user.full_name, follower %>

</td>
        <td><% @user_boards = User.find_by(id: follower.user_id).boards %>
	<ul>
<% @user_boards.each do |b| %>
	<li><%= b.name %>, <%= b.pinnings.count %> pins</li>
<% end %>
</ul></td>

        <td><%= link_to 'Unfollow', follower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Follower', new_follower_path %>
