<p id="notice"><%= notice %></p>

<h1><%= current_user.full_name %> Follows</h1>

<table width="100%">
  <thead>
    <tr>
      <th>User</th>

      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @followed.each do |follower| %>
      <tr>
        <td><%= follower.full_name %>
        <% @user_boards = User.find(follower.id).boards %>
	<ul class="follow">
		<% @user_boards.each do |b| %>
			<li><%= link_to b.name, board_path(b) %>, <%= b.pinnings.count %> pins</li>
		<% end %>
	</ul></td>

        <td><%= button_to 'Unfollow', Follower.find_by_user_id(follower.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Follower', new_follower_path %>
