<!DOCTYPE html>
<html>
<head>
  <title>Coder Pinterest</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <% if logged_in? && current_user %>
  <div class="pull-right">

	<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      <%= "#{current_user.first_name}" %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation">
     	<%= link_to "Pindex", root_path, "role" => "menuitem", "tabindex" => "-1" %> 
      </li>
      <hr>
      <li role="presentation">
     	<%= link_to "User Home", current_user, "role" => "menuitem", "tabindex" => "-1" %> 
      </li>
      <li role="presentation">
      	<%= link_to "Following", followers_path %>
      </li>
            <li role="presentation">
      	<%= link_to "Find People to Follow", new_follower_path %>
      </li>
      <li role="presentation">
        	<%= link_to "Add a New Pin", new_pin_path, "role" => "menuitem", "tabindex" => "-1"  %>
      </li>
      <li role="presentation">
      	<%= link_to "Add a New Board", new_board_path, "role" => "menuitem", "tabindex" => "-1" %>
      </li>
      
      <hr>

      <% current_user.pinnable_boards.each do |board| %>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="/boards/<%= board.id %>">
            <%= "#{board.name}" %>
          </a>
        </li>
      <% end %>
		<hr>
		<li role="presentation">
            <%= link_to "Logout", logout_path(current_user), method: :delete, "role" => "menuitem", "tabindex" => "-1" %>
        </li>


    </ul>
  </div>  
  	
  </div>
  <% else %>
  <div class="pull-right">

	<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Menu
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation">
     	<%= link_to "Pindex", root_path, "role" => "menuitem", "tabindex" => "-1" %> 
      </li>
      <hr>
       <li role="presentation">
     	<%= link_to "Login", login_path, "role" => "menuitem", "tabindex" => "-1" %> 
      </li>
       <li role="presentation">
     	<%= link_to "Create Account", new_user_path, "role" => "menuitem", "tabindex" => "-1" %> 
      </li>
      </ul>
     </div>  
  	
  </div> 
	  <% end %>
 <%= yield %>

</div>

    <%= debug(params) if Rails.env.development? %>
</body>
</html>

